$blue: blue;
$border-color-hover: #666;
$border-color: #999;
$border-radius: 4px;
$box-shadow-color: rgba(0, 0, 0, 0.5);
$button-active-bg: #eee;
$button-bg: white;
$button-height: 32px;
$color: #333;
$disabled-text-color:grey;
$font-size: 14px;
$grey:#ddd;
$red: #F1453D;
$tab-height: 40px;
$toast-bg: rgba(0, 0, 0, 0.75);
$toast-height: 40px;
$input-height: 32px;
$white:white;
.box-shadow{
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}